<button id="myBtn" title="Go to top" type="button">
  <svg width="32" height="32" class="arrow">
    <use href="../public/icon.svg#icon-arrow"></use>
  </svg>
</button>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur nemo
  perferendis sapiente soluta tempore magni asperiores molestias vitae dicta
  fugiat. Eos reprehenderit, architecto commodi ipsum incidunt explicabo qui
  est, dolorum obcaecati accusantium numquam aperiam id magni. Mollitia sunt
  incidunt soluta nemo in culpa quisquam consequuntur cum, cupiditate minima?
  Saepe quos sunt eum alias iste facilis! Ea nobis, cupiditate magnam enim earum
  fugit suscipit esse corporis inventore distinctio quia possimus exercitationem
  excepturi amet libero pariatur voluptatem maxime, aliquam quis asperiores.
  Deleniti odio facilis quisquam expedita, temporibus dolores repellendus vel
  sequi nobis quis praesentium optio voluptatibus accusantium unde repellat ex!
  Quae, libero. Voluptatem fuga voluptates nemo? Doloribus dolore consequuntur
  suscipit maiores labore voluptas dolorem expedita accusantium obcaecati
  necessitatibus modi unde iusto eius harum quas dolores, recusandae, molestias,
  animi veritatis possimus eaque. Nostrum officiis blanditiis maiores quibusdam,
  pariatur minima ratione eveniet non earum, voluptas harum eligendi quos natus?
  Ducimus veritatis facilis molestiae veniam libero eos, doloribus earum ex ut
  necessitatibus, expedita iusto! Sequi harum mollitia quasi fugiat, blanditiis
  molestiae enim quas! Nisi, laudantium. Nulla tempora nihil cum sit, quam sed
  officia, consequatur natus voluptatum hic voluptate minus iste quas aspernatur
  recusandae, quo optio laboriosam? Eius perspiciatis eos repudiandae
  voluptatum, quibusdam enim, libero sequi minus consectetur at veritatis amet
  possimus placeat pariatur iste corporis. Modi mollitia ipsam quasi est magni
  tempora? In porro modi quae. Voluptatum quos animi, sapiente, ex odio velit
  ipsum reprehenderit, ab voluptatibus deserunt aliquid aliquam maxime nobis?
  Neque numquam obcaecati corrupti praesentium voluptas iusto facilis saepe
  corporis illo quae, explicabo rerum? Alias tempora odio, recusandae a corrupti
  adipisci animi placeat commodi est aspernatur sapiente at dolorem, amet
  voluptates quos quidem? Error animi deleniti neque nesciunt fugit ab facilis
  eveniet voluptatem veniam impedit molestiae culpa vel unde, expedita porro
  earum maxime aut enim, placeat alias laudantium perferendis tempora fuga quo!
  Voluptas placeat incidunt quasi ex repellendus, et laborum ipsum. Sit corporis
  provident fuga omnis sequi unde est ipsum dignissimos. Officiis quibusdam at
  quaerat, saepe omnis doloremque facere itaque sit animi maxime ea iusto esse,
  repudiandae et minus fugiat laboriosam consequuntur maiores a quos suscipit
  consectetur. Totam aperiam cum voluptatem, sequi nam vero minus, obcaecati
  doloribus maiores dolore deleniti tempore quo illum vitae, provident libero
  impedit dicta nihil modi. Assumenda veritatis at maiores ullam sunt rem
  reiciendis ut quo blanditiis repudiandae, autem deserunt eius. Exercitationem
  eaque aut ad nihil quod ipsam ut! Molestias nisi doloremque tempora culpa non!
  Inventore iste dolor totam quasi iure. Nulla blanditiis labore maiores qui
  molestiae veniam assumenda, at, eveniet eos voluptatibus molestias repellat
  magni non. Debitis maxime ipsa omnis repudiandae. Dolor tempore suscipit
  dolorum vel nemo tenetur commodi fugit a voluptatibus. Ea facilis amet illo
  voluptatum beatae. Assumenda vitae cum quasi, accusamus consectetur recusandae
  deserunt error rem officia magnam dolores nam, aspernatur perspiciatis
  voluptatibus! Ducimus, nihil voluptas earum laudantium cupiditate repudiandae
  harum veritatis architecto tempore necessitatibus adipisci ipsum quod repellat
  aliquid blanditiis aut. Unde hic laborum aspernatur. Nihil veniam qui labore
  voluptates corporis? Voluptate reiciendis veniam et fugit velit dolorum ea
  aspernatur numquam! Placeat reprehenderit eligendi, sed excepturi labore nemo.
  Impedit amet deserunt sint laborum suscipit earum modi facere sunt aut nam
  consequuntur natus reiciendis eos, quos quibusdam voluptate a nesciunt, magni
  debitis necessitatibus? Voluptatibus sequi natus obcaecati explicabo rerum
  illum rem deserunt debitis est hic recusandae quasi maiores, fuga animi
  consectetur, id, assumenda odit neque eius. Explicabo consectetur sint,
  delectus nemo laborum voluptatibus cum qui, harum sapiente voluptatum aliquam
  magnam, similique excepturi saepe et earum ut dolores error necessitatibus
  incidunt sed. Pariatur harum sunt officiis consectetur dolorem optio suscipit,
  nam adipisci ducimus voluptatem molestiae soluta sint? Recusandae labore optio
  deleniti architecto fugit, corrupti ut ex eos modi earum veniam consequatur
  commodi enim, quae incidunt vel maxime qui aut accusamus. Nulla repellendus
  doloribus necessitatibus recusandae cumque aliquid iste, vel repudiandae alias
  ab ullam laboriosam consequatur, nihil natus modi. Atque adipisci qui
  doloribus modi, deleniti facere dicta ducimus, aliquid eum rem, quis harum. Id
  pariatur error tenetur neque iure maxime, deserunt veritatis ipsam
  voluptatibus earum dolores nemo porro asperiores quod consectetur iste,
  molestiae optio vitae voluptatem placeat rem doloremque illum. Tempora non
  exercitationem incidunt ad alias, vero dignissimos nam explicabo magnam
  repellendus excepturi numquam sed soluta vel corporis aliquam nisi eius
  suscipit expedita, iure provident laborum quasi autem? Maxime exercitationem
  consequatur odit, in earum libero eligendi! Id maiores odit ab provident. Sunt
  officia aspernatur saepe, voluptate unde illo aliquam esse eaque nesciunt
  libero quia corporis id, animi tempore quibusdam doloribus, molestiae non.
  Quae sapiente, ea eligendi sit expedita rem ipsam debitis voluptate?
  Aspernatur et molestiae excepturi omnis dolore! Quaerat in quae harum nisi,
  deserunt ab. Sed, consequuntur maiores quia, molestiae tempore exercitationem
  provident excepturi nobis illum delectus dicta commodi ea, autem inventore est
  quidem id fuga numquam cum in! Facilis nulla at nostrum. Ducimus doloribus aut
  rerum sapiente molestias iusto vitae iste necessitatibus non fuga minus,
  doloremque quisquam, quo odio cumque aliquam eaque inventore consectetur natus
  hic, exercitationem sit? Fuga libero fugit, aut dolores alias facere rerum
  deleniti dicta reiciendis nihil corrupti impedit perferendis, hic laboriosam
  repellendus blanditiis saepe officia ut. Eligendi vel illo eius quia sapiente
  cum eos vero nulla? Fuga ipsa voluptates quibusdam cum maiores nam magni
  voluptate voluptatem a? Natus quia porro quisquam labore, dolorum odio
  consectetur cupiditate earum soluta libero, alias consequatur numquam tempora
  dicta non! Porro blanditiis officiis veniam consectetur nisi eligendi, quidem
  id quam at consequatur voluptas reiciendis ipsam vero exercitationem
  architecto assumenda rerum mollitia, laboriosam obcaecati sunt quae accusamus
  dolore! Reprehenderit iste totam debitis, accusantium et harum? Deleniti ipsum
  blanditiis unde odit similique quia, atque expedita pariatur nobis dolores cum
  fugiat numquam eius. Ad optio neque ex sed saepe! Dolorum nemo cum ex
  nesciunt! Velit perferendis, culpa error atque explicabo iste rerum dicta
  distinctio iure totam. Deleniti quo cum minima possimus et excepturi
  asperiores, neque repudiandae quibusdam! Alias animi exercitationem, sequi
  odio cupiditate tempora unde pariatur quas nam expedita porro id eius nostrum
  eligendi quam blanditiis, molestiae, maiores ipsam? Architecto sed quaerat
  nemo ex velit fugiat, iusto aperiam, cumque similique culpa inventore pariatur
  repellat commodi eaque blanditiis aliquam voluptatem iure obcaecati! Lorem
  ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae voluptas neque
  laborum? Deserunt illo cupiditate, exercitationem est eum modi! Aliquam
  adipisci itaque fugit aspernatur molestias esse corrupti quidem ducimus,
  minus, quasi dolorum rerum! Corporis eaque aut quidem magni quam, blanditiis,
  minus corrupti consectetur reprehenderit distinctio eius perspiciatis sapiente
  sit? Atque, impedit quos numquam neque error cumque, eum molestias sunt vitae
  labore praesentium alias enim rem quo recusandae. Magni, quod eaque? Eius,
  optio, accusamus animi iusto facere saepe voluptates at dolorum tenetur
  assumenda unde in veniam nobis consequatur alias. Nulla eligendi repellat
  atque aut perferendis. Qui inventore hic, dolores tempora eum assumenda
  eveniet officia, alias labore pariatur unde, maiores quidem nihil veniam
  eaque. Totam animi sint obcaecati repudiandae, numquam dolores iure quos
  necessitatibus, eum adipisci quod atque voluptatem rem praesentium ex
  excepturi beatae perspiciatis illo corrupti omnis? Iusto accusantium excepturi
  quod esse alias mollitia maiores quae atque aliquid, nulla dicta repellendus
  deserunt assumenda corrupti est similique commodi a consectetur, impedit
  obcaecati optio repudiandae quaerat! Laudantium labore dolorem sint optio non
  possimus commodi quo suscipit saepe enim consequatur voluptatibus incidunt qui
  officia veniam vero, veritatis ullam vel excepturi praesentium nostrum nisi
  molestias. Similique maiores qui aperiam numquam. Odio ex eum quisquam
  corrupti commodi incidunt architecto, rerum cupiditate ullam accusamus hic
  nam, dolorem delectus voluptatum illum saepe! Cupiditate, vitae dolorem eum
  commodi aperiam odio ipsum impedit culpa ab dignissimos, praesentium
  accusantium laudantium minus fugit temporibus itaque beatae reiciendis?
  Labore, vel nam sit enim nihil voluptatibus eum illo ratione accusamus eius
  hic dolor in veniam deleniti quam tenetur beatae ex sint quod repudiandae
  eveniet iusto corrupti, ipsa laboriosam? Rem vel consequatur ea aliquid, quas
  perferendis quasi rerum distinctio quos. Fuga quibusdam aperiam porro
  laboriosam hic aspernatur a cum aut quaerat, obcaecati laborum laudantium
  ipsam nesciunt, delectus repellendus dignissimos, rem distinctio dolores
  doloremque voluptatum? Assumenda veritatis magni excepturi amet corporis atque
  dolore ad dignissimos, voluptatem eos enim alias adipisci repellendus.
  Quisquam quasi est officiis illum ut amet. Nesciunt consectetur harum aliquid
  atque molestiae. Quae, numquam. Quas rerum id nostrum iste maxime fugit
  explicabo voluptas earum quibusdam nulla mollitia ab sint ducimus,
  voluptatibus veritatis laborum unde consequatur ipsa nisi molestiae
  accusantium, illo rem. Quisquam architecto dolorem illum explicabo aspernatur
  quis, fuga, eveniet eius ducimus non ab corrupti, ullam error? Molestias
  soluta tempora, ex voluptates veritatis quae nostrum omnis itaque illo
  recusandae, iusto ratione. Amet labore nam fugiat. Dolores soluta eligendi
  sunt corporis saepe obcaecati in quod animi labore officiis cupiditate cumque
  mollitia dignissimos sed rerum blanditiis maiores beatae accusamus assumenda
  amet, molestiae id voluptatem. Vero aliquam dolorum quos asperiores rerum
  harum veniam, tempore blanditiis eligendi rem assumenda voluptates reiciendis,
  molestias facilis? Inventore laudantium nihil sapiente reiciendis! Iure
  ducimus, accusantium, ea, excepturi in cupiditate quasi culpa rem illo magni
  repellendus consectetur minus quod illum alias veniam! Odit, nemo magnam.
  Soluta expedita incidunt possimus, dolor aliquam quos error nihil et nesciunt
  nulla quasi magnam quo praesentium numquam sapiente consequuntur! Quasi
  similique explicabo tempora pariatur impedit cupiditate asperiores incidunt
  nam tenetur qui in, ut, doloremque suscipit inventore laborum deserunt eos
  quos voluptates quo aliquam dolorem vel error! Esse, illo fugiat alias totam
  possimus repellendus ut! Sunt voluptas aut et tempora quae totam, quaerat vel
  fugit nesciunt perspiciatis libero numquam aliquid vero aperiam laudantium?
  Temporibus magni blanditiis quisquam esse, dolorem illum labore iste veritatis
  totam veniam modi pariatur autem assumenda quia quidem obcaecati doloribus
  ullam ratione porro, illo necessitatibus consectetur repellendus. Consequatur
  similique quidem error quo voluptatem dicta incidunt cum veritatis quaerat,
  unde architecto? Ipsa repellendus itaque harum dolor? Voluptatum corporis
  illum adipisci, sequi suscipit ratione voluptate et velit ipsam consectetur.
  Numquam error quam eveniet molestias, consequatur nisi a natus quasi quis quas
  aperiam voluptatibus esse non amet explicabo tenetur? Amet dolores vitae ea!
  Quaerat corporis quasi reprehenderit reiciendis, impedit voluptatum, excepturi
  ducimus sed esse minus doloribus! Recusandae animi laudantium porro commodi
  deleniti eius nesciunt molestiae omnis tenetur explicabo sit nam suscipit odio
  non harum, iste delectus ipsum odit impedit, assumenda labore distinctio
  facilis alias! Illum necessitatibus rem quam nostrum dolores soluta tempore
  excepturi assumenda recusandae, cupiditate laudantium cumque neque dicta,
  omnis iusto. Quidem laboriosam explicabo delectus aperiam saepe eligendi
  maxime tempora dolor fugit, dignissimos voluptates, unde incidunt libero?
  Inventore, sit est! Quisquam neque quaerat, eaque nesciunt laudantium error
  corrupti, numquam soluta, cumque et quidem. Nostrum accusantium cupiditate
  repellat, incidunt fugit, porro exercitationem velit, voluptatem maiores
  laboriosam eum enim nisi quo! Asperiores, animi aspernatur eveniet fuga earum
  perferendis quidem obcaecati ipsum consectetur ex repudiandae! Ex iure
  architecto, odit earum mollitia incidunt velit. Voluptas perspiciatis,
  explicabo ipsum eaque impedit pariatur minus quo maiores dolorem aut
  voluptatum laudantium. Facere blanditiis rerum consectetur tempora provident
  facilis, sint itaque nulla beatae veritatis explicabo. Ea ipsum illum,
  repellat architecto iure eveniet accusantium ex delectus commodi earum! Cum
  pariatur earum architecto ducimus neque sint excepturi. Architecto, sunt
  aperiam veritatis, ducimus perferendis repellendus, dolorem quis repellat
  debitis deserunt in. Dolor aliquam consequatur qui maxime pariatur doloribus
  quasi magnam earum officia ad? Vero sapiente vitae nobis cupiditate, culpa
  natus obcaecati aliquid perspiciatis ratione quod voluptatem impedit facilis.
  Delectus unde nemo aspernatur, dignissimos harum doloremque cupiditate!
  Laudantium quam excepturi, nisi voluptatum nulla beatae est recusandae ipsum
  similique saepe expedita atque distinctio harum ipsa fugit ex sunt sed
  deserunt illum error. Dolorum quisquam pariatur quibusdam. Nobis enim
  inventore quam nesciunt sed, perferendis animi minima fugit nemo dicta
  placeat. In voluptas facere laudantium cupiditate! Officia fugit ex et aliquid
  blanditiis ab architecto suscipit iure, minus repellat qui sunt ducimus non
  in, earum saepe culpa. Distinctio minima enim earum inventore nesciunt impedit
  facere molestias? Deleniti non ut nulla unde soluta. Nulla itaque molestiae
  eaque ab aliquid? Ab natus facilis assumenda maiores soluta, cumque labore
  pariatur eum enim laudantium praesentium inventore nihil facere sequi illo.
  Assumenda veritatis reprehenderit, debitis, accusamus libero nostrum tempora
  nesciunt laborum ipsum quos sint nam vitae, molestias beatae. Earum in numquam
  amet error fuga quasi provident, libero expedita! A delectus obcaecati
  voluptas amet vel quas fuga odit, et illo eius vero eos iusto numquam quis?
  Modi natus, eligendi aliquid harum libero unde ipsum minima recusandae aperiam
  id blanditiis!
</p>
