<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/fonts.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/footer-style.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="container footer-container">
        <div class="link-wrapper">
          <div class="img-logo-wrapper">
            <picture>
              <source media="(min-width: )" srcset="" />
              <img src="" alt="broccoli" />
            </picture>
            <a href="" class="logo-link">
              <svg width="16" height="16">
                <use></use>
              </svg>
              veggieboost
            </a>
          </div>
          <ul class="navigation-list">
            <li>
              <a href="" class="navigation-link">How It Works</a>
            </li>
            <li>
              <a href="" class="navigation-link">Vegetables</a>
            </li>
            <li>
              <a href="" class="navigation-link">Contacts</a>
            </li>
          </ul>
        </div>
        <div class="contacts-wrapper">
          <ul class="social-list">
            <li>
              <a
                href=""
                target="_blank"
                rel="noopener noreferrer"
                class="social-link"
              >
                <svg width="24" height="24" class="social-icon">
                  <use></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href=""
                target="_blank"
                rel="noopener noreferrer"
                class="social-link"
              >
                <svg width="24" height="24" class="social-icon">
                  <use></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href=""
                target="_blank"
                rel="noopener noreferrer"
                class="social-link"
              >
                <svg width="24" height="24" class="social-icon">
                  <use></use>
                </svg>
              </a>
            </li>
          </ul>
          <address>
            <a href="tel:+380684439426" class="phone-number-link"
              >+380 (68) 443-94-26</a
            >
            <p class="address-company">
              1678 S. Pioneer Road Salt Lake City <br />
              UT 84104
            </p>
          </address>
        </div>
      </div>
    </footer>
  </body>
</html>
