<header class="header" id="header">
    <div class="header-container">
        <nav class="header-navigation">
            <ul class="header-list list">
                <li><a class="header-item link" href="#work">How It Works</a></li>
                <li><a class="header-item link" href="#vegetables">Vegetables</a></li>
                <li><a class="header-item link" href="#contacts">Contacts</a></li>
            </ul>
        </nav>
            <a class="header-logo" href="#header">
                <svg class="logo-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
                <p class="logo">veggieboost</p>
            </a>
            <button class="shopping" type="button" data-modal-open4>
        <svg class="header-shopping" width="20" height="20">
            <use href="./images/icons.svg#icon-shopping"></use>
        </svg>
    </button> 
    <button type="button" class="burger-menu-btn" data-menu-open>
    <svg class="icon-menu" width="24" height="24">
        <use href="./images/icons.svg#icon-menu"></use>
    </svg>
</button>
</div>
<div class="mob-menu is-hidden2" data-menu>
    <div class="transform">
    <div class="header-menu">
     <a class="header-logo" href="#header">
        <svg class="logo-icon" width="16" height="16">
            <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        <p class="logo">veggieboost</p> 
    </a>
     <button type="button" class="menu-close-btn" data-menu-close>
        <svg class="menu-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-close"></use>
        </svg>
     </button>
 </div>
 <div class="mob-list">
    <ul class="list menu-list">
        <li><a class="menu-item link" href="#work" data-menu-close1>How It Works</a></li>
        <li><a class="menu-item link" href="#vegetables" data-menu-close2>Vegetables</a></li>
        <li><a class="menu-item link" href="#contacts" data-menu-close3>Contacts</a>
        </li> 
        <li>
        <button  class="shopping-menu" type="button" data-modal-open3 data-menu-close4>
            <svg class="icon-list" width="20" height="20">
                <use href="./images/icons.svg#icon-shopping">
                </use>
            </svg>
        </button>
        </li>
    </ul>
 </div>
</div>
</div>
</header>