<header class="header">
    <div class="header-container">
        <nav class="header-navigation">
            <ul class="header-list list">
                <li><a class="header-item link" href="">How It Works</a></li>
                <li><a class="header-item link" href="">Vegetables</a></li>
                <li><a class="header-item link" href="">Contacts</a></li>
            </ul>
            <div class="header-logo">
                <svg>
                    <use></use>
                </svg>
                <p class="logo">veggieboost</p>
            </div>
        </nav>
        <svg>
            <use></use>
        </svg>
    </div>
    <button type="button" class="burger-menu-btn">
    <svg class="icon-menu" width="24" height="24">
        <use href=""></use>
    </svg>
</button>
<div class="mob-menu is-hidden">
    <div>
    <ul class="list menu-list">
        <li><a class="menu-item link" href="">How It Works</a></li>
        <li><a class="menu-item link" href="">Vegetables</a></li>
        <li><a class="menu-item link" href="">Contacts</a>
        </li>
    </ul>
</header>