<section class="hero-section">
    <div>
        <ul class="hero-list">

            <li class="hero-item item-anime">
                <div class="hero-thumb">
                    <picture>                 
                        <source srcset="./images/img/hero-img/ellipse1-desk.jpg 1x,
                        ./images/img2x/hero-img/ellipse1-desk@2x.jpg 2x" 
                        media="(min-width: 1280px)"> 
                        <source srcset="./images/img/hero-img/ellipse1-tablet.jpg 1x,
                        ./images/img2x/hero-img/ellipse1-tablet@2x.jpg 2x" 
                        media="(min-width: 768px)">
                        <source srcset="./images/img/hero-img/ellipse1-mobil.jpg 1x,
                        ./images/img2x/hero-img/ellipse1-mobil@2x.jpg 2x" 
                        media="(max-width: 375px)">
                        <img srcset="./images/img/hero-img/ellipse1-mobil.jpg" class="hero-item-img" alt="girl" width="40" height="40">
                    </picture>
                </div>
            </li>

            <li class="hero-item item-anime">
                <div class="hero-thumb">
                    <picture>   
                        <source srcset="./images/img/hero-img/ellipse2-desk.jpg 1x,
                        ./images/img2x/hero-img/ellipse2-desk@2x.jpg 2x" 
                        media="(min-width: 1280px)">
                        <source srcset="./images/img/hero-img/ellipse2-tablet.jpg 1x,
                        ./images/img2x/hero-img/ellipse2-tablet@2x.jpg 2x" 
                        media="(min-width: 768px)">
                        <source srcset="./images/img/hero-img/ellipse2-mobil.jpg 1x,
                        ./images/img2x/hero-img/ellipse2-mobil@2x.jpg 2x" 
                        media="(max-width: 375px)">
                        <img srcset="./images/img/hero-img/ellipse2-mobil.jpg" class="hero-item-img" alt="boy" width="40" height="40">
                    </picture>
                </div>

            </li>
            <li class="hero-item item-anime">
                <div class="hero-thumb">
                    <picture>               
                        <source srcset="./images/img/hero-img/ellipse3-desk.jpg 1x,
                        ./images/img2x/hero-img/ellipse3-desk@2x.jpg 2x" 
                        media="(min-width: 1280px)"> 
                        <source srcset="./images/img/hero-img/ellipse3-tablet.jpg 1x,
                        ./images/img2x/hero-img/ellipse3-tablet@2x.jpg 2x" 
                        media="(min-width: 768px)">
                        <source srcset="./images/img/hero-img/ellipse3-mobil.jpg 1x,
                        ./images/img2x/hero-img/ellipse3-mobil@2x.jpg 2x" 
                        media="(max-width: 375px)">
                        <img srcset="./images/img/hero-img/ellipse3-mobil.jpg" class="hero-item-img" alt="girl" width="40" height="40">
                    </picture>
                </div>

            </li>
            <li class="hero-item item-anime">
                <div class="hero-thumb">
                    <h2 class="hero-tumb-title">2k</h2>
                    <p class="hero-tumb-text">reviews</p>
                </div>
            </li>
        </ul>
        <h1 class="hero-title">organic <span class="hero-text-span">vegetables</span> to your diet today!</h1>
        <p class="hero-text">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.</p>
        <button type="button" class="hero-btn" data-modal-open>shop<br>now</button>

    </div>

    <div class="hero-img-div">
        <div class="hero-tumb-img">
            <picture>               
                <source srcset="./images/img/hero-img/hero-girl-desk.png 1x,
                ./images/img2x/hero-img/hero-girl-desk2x.png 2x" 
                media="(min-width: 1280px)"> 
                <source srcset="./images/img/hero-img/hero-girl-tablet.png 1x,
                ./images/img2x/hero-img/hero-girl-tablet2x.png 2x" 
                media="(min-width: 768px)">
                <source srcset="./images/img/hero-img/hero-girl-mobile.png 1x,
                ./images/img2x/hero-img/hero-girl-mobile2x.png 2x" 
                media="(max-width: 375px)">
                <img srcset="./images/img/hero-img/hero-girl-mobile.png" class="hero-img" alt="women" width="278" height="228">
            </picture>
        </div>
        <div class="hero-div">
            <ul class="hero-list-btn">
                <li class="hero-item-btn">
                    <button type="button" class="hero-btn-btn current">#organic</button>
                </li>
                <li class="hero-item-btn">
                    <button type="button" class="hero-btn-btn">#products</button>
                </li>
                <li class="hero-item-btn">
                    <button type="button" class="hero-btn-btn">#basket</button>
                </li>
                <li class="hero-item-btn">
                    <button type="button" class="hero-btn-btn">#vegetables</button>
                </li>

            </ul>
        </div>
    </div>

    


</section>