<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close-button" type="button">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h1 class="modal-title">Your Order</h1>
    <form class="modal-form">
      <ul class="modal-list">
        <li class="modal-list-item">
          <h2 class="modal-chart-title">Cabbage Basket</h2>
          <p class="modal-chart-text">Plant</p>
          <div class="thumb">
            <picture>
              <source
                srcset="
                  ./images/img1x/modal-img/cabbage-mobile.png         1x,
                  ./images/img1x/img2x/modal-img/cabbage-mobile2x.png 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/img1x/modal-img/cabbage-tablet.png         1x,
                  ./images/img1x/img2x/modal-img/cabbage-tablet2x.png 2x
                "
                media="(min-width: 768px) and (max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/img1x/modal-img/cabbage-desk.png         1x,
                  ./images/img1x/img2x/modal-img/cabbage-desk2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                srcset="
                  ./images/img1x/modal-img/cabbage-desk.png 1x    400w,
                  ./images/img1x/img2x/modal-img/cabbage-desk2x.png 800w
                "
                sizes="(min-width: 1280px) 33vw, (min-width: 768px) 33vw,
                      100vw"
                src="./images/img1x/modal-img/cabbage-desktop.png"
                alt="cabbage"
              />
            </picture>
          </div>
          <label class="modal-label">
            <input type="checkbox" name="checkbox" class="checkbox-hidden" />
            <span class="checkbox-span">
              <svg class="modal-checkbox" width="16" height="16">
                <use href="./images/icons.svg#icon-checkbox"></use>
                <use
                  class="icon-checked"
                  href="./images/icons.svg#icon-checked"
                ></use>
              </svg>
            </span>
          </label>
        </li>
        <li class="modal-list-item">
          <h2 class="modal-chart-title">Tomato Basket</h2>
          <p class="modal-chart-text">Plant</p>
          <div class="thumb">
            <picture>
              <source
                srcset="
                  ./images/img1x/modal-img/tomato-mobile.png         1x,
                  ./images/img1x/img2x/modal-img/tomato-mobile2x.png 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/img1x/modal-img/tomato-tablet.png         1x,
                  ./images/img1x/img2x/modal-img/tomato-tablet2x.png 2x
                "
                media="(min-width: 768px) and (max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/img1x/modal-img/tomato-desk.png         1x,
                  ./images/img1x/img2x/modal-img/tomato-desk2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                srcset="
                  ./images/img1x/modal-img/tomato-desk.png 1x    400w,
                  ./images/img1x/img2x/modal-img/tomato-desk2x.png 800w
                "
                sizes="(min-width: 1280px) 33vw, (min-width: 768px) 33vw,
                      100vw"
                src="./images/img1x/modal-img/cabbage-desktop.png"
                alt="tomato"
              />
            </picture>
          </div>
          <label class="modal-label">
            <input type="checkbox" name="checkbox" class="checkbox-hidden" />
            <span class="checkbox-span">
              <svg class="modal-checkbox" width="16" height="16">
                <use href="./images/icons.svg#icon-checkbox"></use>
                <use
                  class="icon-checked"
                  href="./images/icons.svg#icon-checked"
                ></use>
              </svg>
            </span>
          </label>
        </li>
        <li class="modal-list-item">
          <h2 class="modal-chart-title">Vegetables Basket</h2>
          <p class="modal-chart-text">Plant</p>
          <div class="thumb">
            <picture>
              <source
                srcset="
                  ./images/img1x/modal-img/vegetables-basket-mobile.png         1x,
                  ./images/img1x/img2x/modal-img/vegetables-basket-mobile2x.png 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/img1x/modal-img/vegetables-basket-tablet.png         1x,
                  ./images/img1x/img2x/modal-img/vegetables-basket-tablet2x.png 2x
                "
                media="(min-width: 768px) and (max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/img1x/modal-img/vegetables-basket-desk.png         1x,
                  ./images/img1x/img2x/modal-img/vegetables-basket-desk2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                srcset="
                  ./images/img1x/modal-img/vegetables-basket-desk.png 1x    400w,
                  ./images/img1x/img2x/modal-img/vegetables-basket-desk2x.png 800w
                "
                sizes="(min-width: 1280px) 33vw, (min-width: 768px) 33vw,
                      100vw"
                src="./images/img1x/modal-img/vegetables-basket-desk.png"
                alt="vegetables-basket"
              />
            </picture>
          </div>
          <label class="modal-label">
            <input type="checkbox" name="checkbox" class="checkbox-hidden" />
            <span class="checkbox-span">
              <svg class="modal-checkbox" width="16" height="16">
                <use href="./images/icons.svg#icon-checkbox"></use>
                <use
                  class="icon-checked"
                  href="./images/icons.svg#icon-checked"
                ></use>
              </svg>
            </span>
          </label>
        </li>
      </ul>
      <div class="modal-label-div">
        <label class="modal-form-label">
          <input
            type="text"
            name="name"
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            placeholder="Enter full name..."
            class="modal-form-input"
          />
        </label>
        <label class="modal-form-label">
          <input
            type="email"
            name="email"
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
            placeholder="Enter email..."
            class="modal-form-input"
          />
        </label>
        <label class="modal-form-label">
          <input
            type="tel"
            placeholder="Enter card.."
            inputmode="numeric"
            pattern="[0-9\s]{13,19}"
            class="modal-form-input"
          />
        </label>
        <label class="modal-form-label">
          <textarea
            name="Comment"
            placeholder="Enter comments..."
            class="modal-form-textarea"
          ></textarea>
        </label>
      </div>
      <button type="submit" class="submit-btn button">Submit</button>
    </form>
  </div>
</div>
