<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close-button" type="button">
      <svg class="modal-close-icon" width="8" height="8">
        <use href="../public/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <h1 class="modal-title">Your Order</h1>
    <ul class="modal-list">
      <li class="modal-list-item chart-cabbage">
        <input type="checkbox" class="modal-checkbox" />
      </li>
      <li class="modal-list-item chart-tomato"></li>
      <li class="modal-list-item chart-basket"></li>
    </ul>
  </div>
</div>
