<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close-button" type="button">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="../img-modal/icons.svg#icon-x"></use>
      </svg>
    </button>
    <h1 class="modal-title">Your Order</h1>
    <ul class="modal-list">
      <li class="modal-list-item chart-cabbage">
        <h2 class="modal-chart-title">Cabbage Basket</h2>
        <p class="modal-chart-text">Plant</p>
        <label class="modal-label">
          <input
            type="checkbox"
            name="checkbox"
            class="checkbox-hidden"
            checked
          />
          <span class="checkbox-span">
            <svg class="modal-checkbox" width="16" height="16">
              <use href="../img-modal/icons.svg#icon-checkbox"></use>
              <use
                class="icon-checked"
                href="../img-modal/icons.svg#icon-checked"
              ></use>
            </svg>
          </span>
        </label>
      </li>
      <li class="modal-list-item chart-tomato">
        <h2 class="modal-chart-title">Cabbage Basket</h2>
        <p class="modal-chart-text">Plant</p>
        <label class="modal-label">
          <input type="checkbox" name="checkbox" class="checkbox-hidden" />
          <span class="checkbox-span">
            <svg class="modal-checkbox" width="16" height="16">
              <use href="../img-modal/icons.svg#icon-checkbox"></use>
              <use
                class="icon-checked"
                href="../img-modal/icons.svg#icon-checked"
              ></use>
            </svg>
          </span>
        </label>
      </li>
      <li class="modal-list-item chart-basket">
        <h2 class="modal-chart-title">Cabbage Basket</h2>
        <p class="modal-chart-text">Plant</p>
        <label class="modal-label">
          <input type="checkbox" name="checkbox" class="checkbox-hidden" />
          <span class="checkbox-span">
            <svg class="modal-checkbox" width="16" height="16">
              <use href="../img-modal/icons.svg#icon-checkbox"></use>
              <use
                class="icon-checked"
                href="../img-modal/icons.svg#icon-checked"
              ></use>
            </svg>
          </span>
        </label>
      </li>
    </ul>
    <form class="modal-form">
      <label class="modal-form-label">
        <input
          type="name"
          name="name"
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          placeholder="Enter full name..."
          class="modal-form-input"
        />
      </label>
      <label class="modal-form-label">
        <input
          type="email"
          name="email"
          pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          placeholder="Enter email..."
          class="modal-form-input"
        />
      </label>
      <label class="modal-form-label">
        <input
          type="tel"
          placeholder="Enter card.."
          inputmode="numeric"
          pattern="[0-9\s]{13,19}"
          class="modal-form-input"
        />
      </label>
      <label class="modal-form-label">
        <textarea
          name="Comment"
          placeholder="Enter comments..."
          class="modal-form-textarea"
        ></textarea>
      </label>
      <button type="submit" class="submit-btn button">Submit</button>
    </form>
  </div>
</div>
