<section class="vegetables-section" id="vegetables">
  <div class="vegetables-сontainer container-anime">
    <h2 class="vegetables-title-2">organic vegetables</h2>
    <p class="vegetables-main-paragraf">
      Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you
      get the freshest and most nutritious produce possible.
    </p>
    <div class="hover-img">
      <ul class="vegetables-cards-list">
        <li class="vegetables-item item-anime">
          <h3 class="vegetables-title-3">Carrot</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <div class="vegetables-img-contaner">
            <picture>
              <source
                srcset="
                  ./images/img/vegetables-img/carrot-desk.png     1x,
                  ./images/img2x/vegetables-img/carrot-desk2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/carrot-tablet.png     1x,
                  ./images/img2x/vegetables-img/carrot-tablet2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/carrot-mobile.png     1x,
                  ./images/img2x/vegetables-img/carrot-mobile2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="vegetables-card-img" src="./images/img/vegetables-img/carrot-mobile.png" alt="Carrot" />
            </picture>
          </div>
          <p class="vegetables-price-paragraf">100 UAH / kg</p>
        </li>
        <li class="vegetables-item item-anime">
          <h3 class="vegetables-title-3">Brussel sprouts</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <div class="vegetables-img-contaner">
            <picture>
              <source
                srcset="
                  ./images/img/vegetables-img/brussel-desk.png     1x,
                  ./images/img2x/vegetables-img/brussel-desk2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/brussel-tablet.png     1x,
                  ./images/img2x/vegetables-img/brussel-tablet2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/brussel-mobile.png     1x,
                  ./images/img2x/vegetables-img/brussel-mobile2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="vegetables-card-img"
                src="./images/img/vegetables-img/brussel-mobile.png"
                alt="Brussel sprouts"
              />
            </picture>
          </div>
          <p class="vegetables-price-paragraf">80 UAH / kg</p>
        </li>
        <li class="vegetables-item item-anime">
          <h3 class="vegetables-title-3">Tomato</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <div class="vegetables-img-contaner">
            <picture>
              <source
                srcset="
                  ./images/img/vegetables-img/tomato-desk.png     1x,
                  ./images/img2x/vegetables-img/tomato-desk2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/tomato-tablet.png     1x,
                  ./images/img2x/vegetables-img/tomato-tablet2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/tomato-mobile.png     1x,
                  ./images/img2x/vegetables-img/tomato-mobile2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="vegetables-card-img" src="./images/img/vegetables-img/tomato-mobile.png" alt="Tomato" />
            </picture>
          </div>
          <p class="vegetables-price-paragraf">40 UAH / kg</p>
        </li>
        <li class="vegetables-item item-anime">
          <h3 class="vegetables-title-3">Eggplant</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <div class="vegetables-img-contaner">
            <picture>
              <source
                srcset="
                  ./images/img/vegetables-img/eggplant-desk.png     1x,
                  ./images/img2x/vegetables-img/eggplant-desk2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/eggplant-tablet.png     1x,
                  ./images/img2x/vegetables-img/eggplant-tablet2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/eggplant-mobile.png     1x,
                  ./images/img2x/vegetables-img/eggplant-mobile2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="vegetables-card-img" src="./images/img/vegetables-img/eggplant-mobile.png" alt="Eggplant" />
            </picture>
          </div>
          <p class="vegetables-price-paragraf">60 UAH / kg</p>
        </li>
        <li class="vegetables-item item-anime">
          <h3 class="vegetables-title-3">Sweet potatoes</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <div class="vegetables-img-contaner">
            <picture>
              <source
                srcset="
                  ./images/img/vegetables-img/potato-desk.png     1x,
                  ./images/img2x/vegetables-img/potato-desk2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/potato-tablet.png     1x,
                  ./images/img2x/vegetables-img/potato-tablet2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/potatoes-mobile.png     1x,
                  ./images/img2x/vegetables-img/potatoes-mobile2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="vegetables-card-img"
                src="./images/img/vegetables-img/potatoes-mobile.png"
                alt="Sweet potatoes"
              />
            </picture>
          </div>
          <p class="vegetables-price-paragraf">80 UAH / kg</p>
        </li>
        <li class="vegetables-item item-anime">
          <h3 class="vegetables-title-3">Leek</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <div class="vegetables-img-contaner">
            <picture>
              <source
                srcset="./images/img/vegetables-img/leek-desk.png 1x, ./images/img2x/vegetables-img/leek-desk2x.png 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/leek-tablet.png     1x,
                  ./images/img2x/vegetables-img/leek-tablet2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/leek-mobile.png     1x,
                  ./images/img2x/vegetables-img/leek-mobile2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="vegetables-card-img" src="./images/img/vegetables-img/leek-mobile.png" alt="Leek" />
            </picture>
          </div>
          <p class="vegetables-price-paragraf">50 UAH / kg</p>
        </li>
        <li class="vegetables-item item-anime">
          <h3 class="vegetables-title-3">Mushrooms</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <div class="vegetables-img-contaner">
            <picture>
              <source
                srcset="
                  ./images/img/vegetables-img/mushrooms-desk.png     1x,
                  ./images/img2x/vegetables-img/mushrooms-desk2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/mushrooms-tablet.png     1x,
                  ./images/img2x/vegetables-img/mushrooms-tablet2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/mushrooms-mobile.png     1x,
                  ./images/img2x/vegetables-img/mushrooms-mobile2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="vegetables-card-img" src="./images/img/vegetables-img/mushrooms-mobile.png" alt="Mushrooms" />
            </picture>
          </div>
          <p class="vegetables-price-paragraf">40 UAH / kg</p>
        </li>
        <li class="vegetables-item item-anime">
          <h3 class="vegetables-title-3">Corn</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <div class="vegetables-img-contaner">
            <picture>
              <source
                srcset="./images/img/vegetables-img/corn-desk.png 1x, ./images/img2x/vegetables-img/corn-desk2x.png 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/corn-tablet.png     1x,
                  ./images/img2x/vegetables-img/corn-tablet2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/img/vegetables-img/corn-mobile.png     1x,
                  ./images/img2x/vegetables-img/corn-mobile2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="vegetables-card-img" src="./images/img/vegetables-img/corn-mobile.png" alt="Corn" />
            </picture>
          </div>
          <p class="vegetables-price-paragraf">60 UAH / kg</p>
        </li>
        <li class="vegetables-item item-anime">
          <h3 class="vegetables-title-3">Radish</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <div class="vegetables-img-contaner">
            <picture>
              <img
                srcset="
                  ./images/img/vegetables-img/radish-desk.png     1x,
                  ./images/img2x/vegetables-img/radish-desk2x.png 2x
                "
                src="./images/img/vegetables-img/radish-desk.png"
                alt="Radish"
              />
            </picture>
          </div>
          <p class="vegetables-price-paragraf">90 UAH / kg</p>
        </li>
      </ul>
    </div>
    <button type="button" class="vegetables-btn" data-modal-open2>
      <div>
        <svg class="vegetables-btn-icon" width="14" height="14">
          <use href="./images/icons.svg#icon-order"></use>
        </svg>
        <p class="vegetables-btn-paragraf">order</p>
      </div>
    </button>
  </div>
</section>
