<section class="vegetables-section">
  <div class="container">
    <h2 class="vegetables-title-2">organic vegetables</h2>
    <p class="vegetables-main-paragraf">
      Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you
      get the freshest and most nutritious produce possible.
    </p>
    <ul class="vegetables-cards-list">
      <li class="vegetables-item">
        <div class="vegetables-card">
          <h3 class="vegetables-title-3">Carrot</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <img class="vegetables-card-img" src="" alt="Carrot" />
          <p class="vegetables-price-paragraf">100 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-card">
          <h3 class="vegetables-title-3">Brussel sprouts</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <img class="vegetables-card-img" src="" alt="Brussel sprouts" />
          <p class="vegetables-price-paragraf">80 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-card">
          <h3 class="vegetables-title-3">Tomato</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <img class="vegetables-card-img" src="" alt="Tomato" />
          <p class="vegetables-price-paragraf">40 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-card">
          <h3 class="vegetables-title-3">Eggplant</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <img class="vegetables-card-img" src="" alt="Eggplant" />
          <p class="vegetables-price-paragraf">60 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-card">
          <h3 class="vegetables-title-3">Sweet potatoes</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <img class="vegetables-card-img" src="" alt="Sweet potatoes" />
          <p class="vegetables-price-paragraf">80 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-card">
          <h3 class="vegetables-title-3">Leek</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <img class="vegetables-card-img" src="" alt="" />
          <p class="vegetables-price-paragraf">50 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-card">
          <h3 class="vegetables-title-3">Mushrooms</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <img class="vegetables-card-img" src="" alt="Mushrooms" />
          <p class="vegetables-price-paragraf">40 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-card">
          <h3 class="vegetables-title-3">Corn</h3>
          <p class="vegetables-plant-paragraf">Plant</p>
          <img class="vegetables-card-img" src="" alt="Corn" />
          <p class="vegetables-price-paragraf">60 UAH / kg</p>
        </div>
      </li>
    </ul>
  </div>
</section>
