<section class="vegetables-section">
  <div class="vegetables-сontainer">
    <h2 class="vegetables-title-2">organic vegetables</h2>
    <p class="vegetables-main-paragraf">
      Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you
      get the freshest and most nutritious produce possible.
    </p>
    <ul class="vegetables-cards-list">
      <li class="vegetables-item">
        <h3 class="vegetables-title-3">Carrot</h3>
        <p class="vegetables-plant-paragraf">Plant</p>
        <div class="vegetables-img-contaner">
          <img class="vegetables-card-img" src="./images/image.png" alt="Carrot" />
        </div>
        <p class="vegetables-price-paragraf">100 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-title-3">Brussel sprouts</h3>
        <p class="vegetables-plant-paragraf">Plant</p>
        <div class="vegetables-img-contaner">
          <img class="vegetables-card-img" src="./images/image_1.png" alt="Brussel sprouts" />
        </div>
        <p class="vegetables-price-paragraf">80 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-title-3">Tomato</h3>
        <p class="vegetables-plant-paragraf">Plant</p>
        <div class="vegetables-img-contaner">
          <img class="vegetables-card-img" src="./images/image.png" alt="Tomato" />
        </div>
        <p class="vegetables-price-paragraf">40 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-title-3">Eggplant</h3>
        <p class="vegetables-plant-paragraf">Plant</p>
        <div class="vegetables-img-contaner">
          <img class="vegetables-card-img" src="./images/image.png" alt="Eggplant" />
        </div>
        <p class="vegetables-price-paragraf">60 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-title-3">Sweet potatoes</h3>
        <p class="vegetables-plant-paragraf">Plant</p>
        <div class="vegetables-img-contaner">
          <img class="vegetables-card-img" src="./images/image.png" alt="Sweet potatoes" />
        </div>
        <p class="vegetables-price-paragraf">80 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-title-3">Leek</h3>
        <p class="vegetables-plant-paragraf">Plant</p>
        <div class="vegetables-img-contaner">
          <img class="vegetables-card-img" src="./images/image.png" alt="" />
        </div>
        <p class="vegetables-price-paragraf">50 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-title-3">Mushrooms</h3>
        <p class="vegetables-plant-paragraf">Plant</p>
        <div class="vegetables-img-contaner">
          <img class="vegetables-card-img" src="./images/image.png" alt="Mushrooms" />
        </div>
        <p class="vegetables-price-paragraf">40 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-title-3">Corn</h3>
        <p class="vegetables-plant-paragraf">Plant</p>
        <div class="vegetables-img-contaner">
          <img class="vegetables-card-img" src="./images/image.png" alt="Corn" />
        </div>
        <p class="vegetables-price-paragraf">60 UAH / kg</p>
      </li>
      <li class="vegetables-item vegetables-visible-comp">
        <h3 class="vegetables-title-3">Radish</h3>
        <p class="vegetables-plant-paragraf">Plant</p>
        <div class="vegetables-img-contaner">
          <img class="vegetables-card-img" src="./images/image.png" alt="Corn" />
        </div>
        <p class="vegetables-price-paragraf">90 UAH / kg</p>
      </li>
    </ul>
    <button class="vegetables-btn" data-modal-open>
      <div>
        <svg class="vegetables-btn-icon" width="14" height="14">
          <use href="./images/icons.svg#icon-order"></use>
        </svg>
        <p class="vegetables-btn-paragraf">order</p>
      </div>
    </button>
  </div>
</section>
