<section class="contacts">
  <div>
    <h1 class="contacts-title">FRESH HARWEST BOX HAS GOT YOU COVERED</h1>
    <p class="contacts-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <form class="contacts-form">
      <label class="contacts-label">
        <input
          type="tel"
          name="user-phone"
          class="contacts-input"
          placeholder="+380 ()"
          pattern="\+?[0-9\s\-\(\)]+"
        />
      </label>
      <button class="contacts-btn">Recall</button>
    </form>
  </div>
  <div class="contacts-pic"><img src="" alt="" width="335" height="357" /></div>
</section>
