#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 77;
  border: none;
  outline: none;
  background-color: #fc8a11;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 25%;

  transition: all 250ms linear;
}
.arrow {
  fill: currentColor;
}

#myBtn:hover,
#myBtn:focus {
  color: white;
  background-color: #a1c487;
}
