.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.no-scroll {
    overflow: hidden;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.header {
    background-color: var(--secondary-text-color);
}
.header-logo {
    display: flex;
    text-align: center;
    width: 118px;
    gap: 8px;
    padding-top: 13px;
    padding-bottom: 13px;
    
}
.logo {
    color: var(--main-text-color);
    font-size: var(--descr-font-size);
    font-weight: var(--vegetables-title-font-weight);
    line-height: var(--descr-line-height);
    letter-spacing: -0.56px;
    text-transform: uppercase;
}
.mob-menu {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: var(--hero-back);
}
.burger-menu-btn {
    stroke: #77AC63;
    background-color: transparent;
    border: none;
    padding: 0;
    height: 24px;
}
.header-list {
    display: none;
}
.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}
.menu-item {
    color: var(--secondary-text-color);
    text-align: center;
    font-size: var(--descr-font-size);
    font-weight: var(--main-font-weight
    );
    line-height: 1.28;
    letter-spacing: -0.56px;
}
.logo-icon {
    fill: #77AC63;
}
.icon-shopping {
    fill: #141414;
    display: none;
}
.icon-menu {
    fill: #77AC63;
}
.header-menu {
    background-color: #FFF;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.mob-list {
    background-color: #A1C487;
    position: absolute;
    top: 124px;
    left: 50%;
    transform: translate(-50%, 0);
}

.menu-close-btn {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
    position: absolute; 
    top: 13px;
    right: 20px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: #77AC63;
}
.icon-list {
    fill: #FFFFFF;
    
}
.header-shopping {
    display: none;
}
.shopping {
    display: none;
}
.header-navigation {
    display: none;
}
@media screen and (min-width: 375px) {
    .header-container {
        max-width: 335px;
    } 
}
@media screen and (min-width: 768px) {
    .header-container {
        max-width: 728px;
    }
    .header-navigation {
        display: block;
    }
    .header-list {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    .burger-menu-btn {
        display: none;
    }
    .header-shopping {
        display: block;
        stroke: #141414;
    }
    .shopping {
        display: block;
    }
    .shopping-flex {
        display: flex;
        align-items: center;
        
    }
}
@media screen and (min-width: 1280px) {
    .header-container {
        max-width: 1240px;
    }
}