.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.no-scroll {
    overflow: hidden;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.header {
    background-color: var(--secondary-text-color);
    
}
.header-logo {
    display: flex;
    text-align: center;
    width: 118px;
    gap: 8px;
    padding-top: 13px;
    padding-bottom: 13px;
    
}
.logo {
    color: var(--main-text-color);
    font-size: var(--descr-font-size);
    font-weight: var(--vegetables-title-font-weight);
    line-height: var(--descr-line-height);
    letter-spacing: -0.56px;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.logo:hover,
.logo:focus {
    color: var(--hero-back);
  }
.mob-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.transform {
    position: relative;
    overflow: hidden;
    
}
.burger-menu-btn:focus .transform {
    transform: translateX(0);
}
.burger-menu-btn {
    stroke: #77AC63;
    background-color: transparent;
    border: none;
    padding: 0;
    height: 24px;
}
.header-list {
    display: none;
}
.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 124px;
    height: 100%;
    background-color: var(--hero-back);
    
    
}
.menu-item {
    color: var(--secondary-text-color);
    text-align: center;
    font-size: var(--descr-font-size);
    font-weight: var(--main-font-weight
    );
    line-height: var(--descr-line-height);
    letter-spacing: -0.56px;
}
.logo-icon {
    fill: #77AC63;
}
.icon-shopping {
    fill: #141414;
    display: none;
}
.icon-menu {
    fill: #77AC63;
}
.header-menu {
    background-color: var(--secondary-text-color);
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    
}
.mob-list {
    background-color: var(--hero-back);
    width: 100vw;
    height: 100vh;
}
.menu-close-btn {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
    position: absolute; 
    top: 13px;
    right: 20px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: #77AC63;
}
.icon-list {
    stroke: #FFFFFF;
    fill: transparent;
    
}
.header-shopping {
    display: none;
}
.shopping {
    display: none;
}
.header-navigation {
    display: none;
}
.shopping-menu {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    height: 20px;
    width: 78px;
    
}
@media screen and (min-width: 375px) {
    .header-container {
        max-width: 335px;
    } 
}
@media screen and (min-width: 768px) {
    .header-container {
        max-width: 728px;
        display: flex;
        justify-content: flex-start;
    }
    .header-navigation {
        display: block;
        margin-right: 86px;
    }
    .header-list {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    .header-item {
        color: var(--main-text-color);
        font-style: normal;
        font-weight: 400;
        line-height: var(--descr-line-height);
        letter-spacing: -0.56px;
        transition: color 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }

    .header-item:hover,
    .header-item:focus {
        color: var(--hero-back);
      }
    .burger-menu-btn {
        display: none;
    }
    .header-shopping {
        display: block;
        stroke: #141414;
        fill: #FFFFFF;
    }
    .shopping {
        display: block;
        background-color: transparent;
        border: none;
        padding: 0;
        height: 24px;
        margin-left: auto;
    }
    .shopping-flex {
        display: flex;
        align-items: center;
    }
}
@media screen and (min-width: 1280px) {
    .header-container {
        max-width: 1240px;
    }
    .header-navigation {
        margin-right: 308px;
    }
}