:root {
    --main-text-color: #141414;
    --secondary-text-color: #fff;

    --hero-back: #A1C487;
    --hero-image-back: #FAF3E7;
    --how-it-works-back: #FAF3E7;
    --order-card-back: #EAF7E5;
    --modal-card-back: #FAF3E7;
    --footer-back: #EAF7E5;

    --shop-now-btn: #FAF3E7;
    --shop-now-btn-hover: #EAF7E5;
    --shop-now-btn-text: #fc8a11;
    --shop-now-btn-text-hover: #a1c487;

    --order-btn-color: #fc8a11;
    --order-btn-color-hover: #a1c487;

    --text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);

    /*-- for mobile version only!!! --*/

    --main-font-weight: 400;
    --title-font-weight: 500;
    --vegetables-title-font-weight: 700;

    --descr-font-size: 14px;
    --descr-line-height: 1.28;
    --descr-title-font-size: 24px;
    --descr-title-line-height: 1.17;
}

body{
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    color: #141414;
    background-color: #ffffff;
}