:root {
  --c-vegetables-title-2: #141414;
  --c-vegetables-main-paragraf: #141414;
  --bg-vegetables-card: #eaf7e5;
  --c-vegetables-title-3: #141414;
  --c-vegetables-card-paragraf: #141414;
  --bg-vegetables-btn: #fc8a11;
  --bg-vegetables-btn-hf: #a1c487;
  --c-vegetables-btn: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.vegetables-сontainer {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.vegetables-section {
  margin-bottom: 80px;
}

.vegetables-title-2 {
  color: var(--c-vegetables-title-2);
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.vegetables-main-paragraf {
  color: var(--c-vegetables-main-paragraf);
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 40px;
}

.vegetables-cards-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.vegetables-visible-comp {
  display: none;
}

.vegetables-item {
  padding: 40px 0 20px;
  background: var(--bg-vegetables-card);
  border-radius: 20px;
}

.vegetables-title-3 {
  color: var(--c-vegetables-title-3);
  font-size: 24px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
  margin-left: 20px;
}

.vegetables-plant-paragraf {
  color: var(--c-vegetables-card-paragraf);
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.vegetables-img-contaner {
  max-width: 299px;
  max-height: 249px;
  display: block;
  margin: 0 auto;
  /* overflow: hidden; */
  margin-bottom: 22px;
}

.vegetables-card-img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

.vegetables-price-paragraf {
  color: var(--c-vegetables-card-paragraf);
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-left: 20px;
}

.vegetables-btn {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-vegetables-btn);
  margin: 0 auto;
  border: none;
}

.vegetables-btn > div {
  display: flex;
  align-items: flex-end;
}

.vegetables-btn-icon {
  fill: var(--c-vegetables-btn);
  margin-right: 4px;
}

.vegetables-btn-paragraf {
  color: var(--c-vegetables-btn);
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  transform: rotate(-14deg);
}

@media screen and (min-width: 768px) {
  .vegetables-сontainer {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 32px;
  }

  .vegetables-title-2 {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
  }

  .vegetables-main-paragraf {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
    max-width: 562px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .vegetables-cards-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .vegetables-item {
    padding: 64px 0 24px;
    background: #eaf7e5;
    border-radius: 20px;
    width: calc((100% - 20px) / 2);
  }

  .vegetables-title-3 {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
    margin-bottom: 8px;
    margin-left: 24px;
  }

  .vegetables-plant-paragraf {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    margin-bottom: 0;
    margin-left: 24px;
  }

  .vegetables-img-contaner {
    max-width: 321px;
    max-height: 261px;
  }

  .vegetables-price-paragraf {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .vegetables-сontainer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
  }

  .vegetables-title-2 {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }

  .vegetables-cards-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .vegetables-visible-comp {
    display: block;
  }

  .vegetables-item {
    padding: 64px 0 24px;
    border-radius: 20px;
    width: calc((100% - 48px) / 3);
  }

  .vegetables-title-3 {
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -1.28px;
    margin-bottom: 8px;
  }

  .vegetables-plant-paragraf {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    margin-bottom: 0;
    margin-left: 24px;
  }
  .vegetables-btn {
    transition: background-color 300ms linear;
  }

  .vegetables-btn:hover,
  .vegetables-btn:focus {
    background-color: var(--bg-vegetables-btn-hf);
  }
}
