.vegetables-сontainer {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.vegetables-section {
  padding-bottom: 80px;
}

.vegetables-title-2 {
  color: var(--main-text-color);
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.vegetables-main-paragraf {
  color: var(--main-text-color);
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 40px;
}

.vegetables-cards-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.vegetables-visible-comp {
  display: none;
}

.vegetables-item {
  padding: 40px 0 20px;
  background: var(--order-card-back);
  border-radius: 20px;
}

.vegetables-title-3 {
  color: var(--main-text-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
  margin-left: 20px;
}

.vegetables-plant-paragraf {
  color: var(--main-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.vegetables-img-contaner {
  max-width: 299px;
  max-height: 249px;
  display: block;
  margin: 0 auto;
  /* overflow: hidden; */
  margin-bottom: 22px;
}

.vegetables-card-img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

.vegetables-price-paragraf {
  color: var(--main-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-left: 20px;
}

.vegetables-btn {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--order-btn-color);
  margin: 0 auto;
  border: none;
}

.vegetables-btn > div {
  display: flex;
  align-items: flex-end;
}

.vegetables-btn-icon {
  fill: var(--secondary-text-color);
  margin-right: 4px;
}

.vegetables-btn-paragraf {
  color: var(--secondary-text-color);
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  transform: rotate(-14deg);
}

@media screen and (min-width: 768px) {
  .vegetables-сontainer {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 32px;
  }

  .vegetables-section {
    padding-bottom: 100px;
  }

  .vegetables-title-2 {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
  }

  .vegetables-main-paragraf {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
    max-width: 562px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .vegetables-cards-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .vegetables-item {
    padding: 64px 0 24px;
    border-radius: 20px;
    width: calc((100% - 20px) / 2);
  }

  .vegetables-title-3 {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
    margin-bottom: 8px;
    margin-left: 24px;
  }

  .vegetables-plant-paragraf {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    margin-bottom: 0;
    margin-left: 24px;
  }

  .vegetables-img-contaner {
    max-width: 321px;
    max-height: 261px;
  }

  .vegetables-price-paragraf {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .vegetables-сontainer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
  }

  .vegetables-section {
    padding-bottom: 124px;
  }

  .vegetables-title-2 {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }

  .vegetables-cards-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .vegetables-visible-comp {
    display: block;
  }

  .vegetables-item {
    padding: 64px 0 24px;
    border-radius: 20px;
    width: calc((100% - 48px) / 3);
  }

  .vegetables-title-3 {
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -1.28px;
    margin-bottom: 8px;
  }

  .vegetables-plant-paragraf {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    margin-bottom: 0;
    margin-left: 24px;
  }
  .vegetables-btn {
    transition: background-color 300ms linear;
  }

  .vegetables-btn:hover,
  .vegetables-btn:focus {
    background-color: var(--order-btn-color-hover);
  }
}

/*------------------------- animation -------------------------------*/
.container-anime {
  opacity: 0;
  animation: fade-in-container 0.5s forwards;
}

.item-anime {
  opacity: 0;
}

@keyframes fade-in-container {
  to {
    opacity: 1;
  }
}

.item-anime:nth-child(1) {
  animation: fade-in-item 0.5s 0.3s forwards;
}

.item-anime:nth-child(2) {
  animation: fade-in-item 0.5s 0.6s forwards;
}

.item-anime:nth-child(3) {
  animation: fade-in-item 0.5s 0.9s forwards;
}

.item-anime:nth-child(4) {
  animation: fade-in-item 0.5s 1.2s forwards;
}
.item-anime:nth-child(5) {
  animation: fade-in-item 0.5s 1.5s forwards;
}
.item-anime:nth-child(6) {
  animation: fade-in-item 0.5s 1.8s forwards;
}
.item-anime:nth-child(7) {
  animation: fade-in-item 0.5s 2.1s forwards;
}
.item-anime:nth-child(8) {
  animation: fade-in-item 0.5s 2.4s forwards;
}
.item-anime:nth-child(9) {
  animation: fade-in-item 0.5s 2.7s forwards;
}

@keyframes fade-in-item {
  to {
    opacity: 1;
  }
}

.hover-img picture img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover-img picture:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
